<!DOCTYPE html>
<html>
<header>

</header>
<app-header [isLogged]="isLogged"  [token]="token"></app-header>
<body>
  <div>
    <nav id="menu">
        <ul>
         <li><a href="#">Ordenadores</a>
         <ul>
            <li><a (click)="navegarCategorias()">Categorías</a></li>
            <li><a href="">Personaliza tu equipo</a></li>
            <li><a href="https://www.chollometro.com/categorias/ordenadores">Ofertas</a></li>
        </ul>
        </li>
            </ul>
     
    </nav>
  </div>
  <br>
  <br>
  <br>
  <br>
  
    <div style="text-align: center;margin-left: 30%;">
        <form  style="width: 60%;">
          <input class="form-control mr-sm-1" type="text" placeholder="Buscar un producto..." aria-label="Search"  [(ngModel)]="search"  [ngModelOptions]="{standalone: true}">
        </form>
      </div>
        <div class=" row row-cols-1 row-cols-md-4 g-4 tamaño">
        <div *ngFor="let articulo of articulos | Filter: search">
        <div class="card">
          <img class="card-img-top" src="../../assets/pc2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{articulo["nombre"] | json}}</h5>
            <p class="card-text">{{articulo["descripcion"] | json}}</p>
          </div>
        </div>
      </div>
    </div>

</body>
<app-footer></app-footer>


</html>
