<!DOCTYPE html>
<html>
<header>

</header>
<app-header [isLogged]="isLogged"  [token]="token"></app-header>
<body>
  <div>
    <nav id="menu">
        <ul>
         <li><a>Ordenadores</a>
            <li><a>Categorías</a>
            <ul>
              <li *ngFor = "let categoria of categorias"><a (click)="irCategorias($event)">{{categoria["nombre"]}}</a></li>
            </ul>
            </li>
            <li><a href="https://www.chollometro.com/categorias/ordenadores">Ofertas</a></li>
        </ul>
     
    </nav>
  </div>
  <br>
  <br>
  <br>
  <br>
  
    <div style="text-align: center;margin-left: 30%;">
        <form  style="width: 60%;">
          <input class="form-control mr-sm-1" type="text" placeholder="Buscar un producto..." aria-label="Search"  [(ngModel)]="search"  [ngModelOptions]="{standalone: true}">
        </form>
      </div>
        <div class=" row row-cols-1 row-cols-md-4 g-4 tamaño">
        <div *ngFor="let articulo of articulos | Filter: search">
        <div style="width: 90%;" class="card">
          <img class="card-img-top" src={{articulo.img}}>
          <div class="card-body">
            <h5 class="card-title">{{articulo["nombre"] | json}}</h5>
            <p class="card-text">{{articulo["descripcion"] | json}}</p>
            <div style="text-align: center;">
              <button *ngIf="isLogged" class="btn btn-success" (click)="add(articulo)">Añadir al carrito</button>
              <br>
              <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(articulo)">Eliminar del carrito</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
</body>
<app-footer></app-footer>


</html>
